body {
  margin: 0px;
  padding:0px;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  box-sizing: border-box;
}

@font-face {
  font-family:bundle;
  src: url(../../assets/fonts/bundle-font-1755412877-0/Bundle-BF689f490f27f25.ttf);
}
/* Search Box Styling */
    .search_box {
      display: flex;
      background: white;
      border: 2px solid lightblue; 
      border-radius: 5px;
      overflow: hidden;
      width: 450px; /* Adjust size*/
      height: 40px;
      margin-left: 20px;
    }

    .search_box input {
      flex: 1;
      border: none;
      padding: 12px;
      font-size: 16px;
      outline: none;
    }

    .search_box button {
      background: lightblue;
      width: 50px;
      border: none;
      padding: auto;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
    }

    .search_box button:hover {
      background: rgb(137, 215, 242); /* Darker orange on hover */
    }

/* Content Section Styling */
.content-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.content-container h1 {
  margin-bottom: 15px;
  color: #333;
}

.content-container p {
  line-height: 1.6;
  color: #555;
}

/* full container(entair body) */
.full-container { 
  width: 100%;
  margin: 0 auto;      /* <-- center with equal space on left and right */
  height: 100vh;   
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px;
}

/* sub container */
.content{
  width: 1000px;
  height: 80vh;
  box-shadow: 0 0px 6px gray;
  background-color: white;
}

.nav_container{
    height: 50px;
}
.navbar-brand{
  font-family: bundle;
  font-size: 30px;
  padding-left: 15px;
}
.search-box{
    width: 200px;
    height: 40px;
}
.btn {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      background-color: lightblue;
      color: #333;
      padding: 10px 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      transition: 0.3s;
    }
    .btn:hover {
      background-color: rgb(139, 223, 252);
      color: white;
    }


/* home-about-services-contact container */
#home_elements_container{
  width: 320px;
  height: 40px;
  background-color: #333;
  border-radius: 10px;
  position: fixed;
  padding-top: 8px;
  padding-left: 20px;
  margin: 450px 36%;
}
.home_elements{
  color: lightblue;
  text-decoration: none;
  margin: 8px;
}
.home_elements:hover{
  color: #333;
  border: 1px solid #333;
  background-color: lightblue;
  border-radius: 5px;
  padding: 4px;
}

/* signin link */
.login-link {
  font-size: 20px;
  font-weight: 600;
  color: white;         
  text-decoration: none;  
  display: inline-flex;
  align-items: center;
  gap: 5px;             
  cursor: pointer;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: rgb(123, 216, 247);         
}

.arrow {
  font-size: 20px;        
}
