{% extends 'base.html' %}

{% block content %}
    <!-- Content Section -->
  <div class="full-container">
    <h1>Welcome to My Website</h1>
    <p>
      This is the main content area of the webpage.  
      You can add paragraphs, images, or any other sections you want here.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Donec vehicula, nulla id scelerisque viverra, est elit varius sapien, 
      at commodo urna purus vel justo.
    </p>
  </div>
{% endblock %}